:root {
  --red:#DE3423;
  --orange:#e49436;
  --dgray:#666666;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.red {
  color: var(--red);
}

.orange {
  color: var(--red);
}

.dgray {
  color: var(--dgray);
}

.paren {
  color:gray;
  font-size:0.6em;
}
